{
  "extends": [
    "@berlysia/eslint-config/auto"
  ],
  "overrides": [
    {
      "files": [
        "*.config.js",
        "*rc.js"
      ],
      "rules": {
        "@typescript-eslint/no-require-imports": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
